@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #0e0f12;
  color: #e6e8ee;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}

::selection {
  background: rgba(34, 211, 238, 0.3);
}
